services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8501:8501"
    environment:
      - REDIS_URL=redis://redis:6379
      - QDRANT_URL=http://qdrant:6333
      - OLLAMA_URL=http://ollama:11434
    depends_on:
      - redis
      - qdrant
      - ollama
    volumes:
      - ./document_metadata:/app/document_metadata
    develop:
      watch:
        - action: sync
          path: .
          target: /app
        - action: rebuild
          path: pyproject.toml

  qdrant:
    image: qdrant/qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage

  ollama:
    image: ollama/ollama
    volumes:
      - ollama_data:/root/.ollama
    ports:
      - "7869:11434"
    tty: true
    restart: always
    environment:
      - OLLAMA_HOST=0.0.0.0

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  qdrant_data:
  ollama_data:
  redis_data: